* {
    font-family: monospace;
    font-size: 10px;
    font-weight: normal;
}

window#waybar {
    background: #4A4A4A;
    border: 1px solid lightgray;
    color: #ffffff;
}

#workspaces button {
    padding: 0 8px;
    margin: 0;
    background: transparent;
    color: #a8a8a8;
    border: none;
}

#workspaces button.focused {
    background: lightgray;
    color: #000000;
}

#window,
#clock {
    padding: 0 8px;
    margin: 0;
}
